.presentationLogement {
    position: relative;
}

.positionLogement {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: unset;
}

.presentationLogement h2 {
    color: rgba(255, 96, 96, 1);
    font-weight: 500;
    font-size: 36px;
    margin: 0px;
    margin-bottom: 10px;
}

.presentationLogement p {
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
}

.presentationHote {
    display: flex;
    align-items: center;
    width: 150px;
    color: rgba(255, 96, 96, 1);
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    gap: 10px;
    margin-bottom: 10px;
}

.presentationHote p {
    margin: 0px;
}

.imgHote {
    border-radius: 50%;
    width: 64px;
}

.hostRating {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}

.spaceTags {
    display: flex;
    gap: 10px;
}

.tag {
    background-color: rgba(255, 96, 96, 1);
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.bottomLogement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    position: relative;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    gap: 100px;
    margin-bottom: 40px;
}

.bottomLogement ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logementDescription {
    display: block;
}

.rating {
    display: flex;
    gap: 2px;
}

.star {
    font-size: 36px;
}

.rightLogement {
    display: flex;
    flex-direction: column;
    align-items: end;
}