/*Responsive*/

@media screen and (max-width: 768px) {
    header {
        margin-bottom: 30px;
    }

    header img {
        width: 130px;
    }

    .ulHeader a {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
}