/*Responsive*/

@media screen and (max-width: 768px) {

    .titleError {
        font-size: 96px;
        margin: 100px 0;
    }

    .textError {
        font-size: 18px;
        text-align: center;
        margin: 100px 0;
    }

    .linkError {
        font-size: 14px;
        margin: 100px 0;
    }
}